body {
    background-image: url("http://images.adsttc.com/media/images/5525/6d5e/e58e/cecd/8200/006d/large_jpg/03.jpg");
}

.inputbox {
    border: 1px solid rgba(0,0,0, 1);
}

.parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
    /*
    background-color: gray;
    border: 20px groove rgba(0,0,0,0.25);
        */

    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
}

.child {
    color:white;
}

#vertical-row {
    Float:left;
    height: auto;
    max-width:1px;
    background-color: white;
    flex: 1;
}

#left {
    background-color: gray;
    width: 5%;
    flex: 1.5;
    padding: 25px;
}

#right {
    background-color: darkgray;
    width: 50%;
    flex: 3;
    padding: 25px;
}