<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Academy Room Booking</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sandbox.css}"/>
</head>
<body>
<h2>Rooms:</h2>

<select th:id="roomname" onchange="changedRoom()">
    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
</select>
<select th:id="roomsize" onchange="changedSize()">
    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.size}"></option>
</select>

<div th:id="testdiv"></div>

<script type="text/javascript" th:src="@{/js/vendor/jquery.js}" />
<script type="text/javascript" th:src="@{/js/sandbox.js}" />
</body>
</html>
