body {
  background-image: url("../img/headerBack.png"), url("../img/bodyBack.jpg");
  background-repeat: repeat-x;
}

.columns, .column {
    padding: 0px;
}

.row {
  max-width: 75%;
}

#menuHeader {
  height: 121px;
}

#menuHeader div,
#menuHeader ul {
  height: 121px;
}

#logoContainer img {
  margin-top: 10px;
  margin-left: -4px;
}

#topMenu, #rightMenu {
  list-style-type: none;
  margin: 0px;
}

#topMenu li {
  display: inline-block;
  margin-top: 27px;
  margin-right: 3%;
}

#rightMenu {
  text-align: right;
}

#rightMenu li {
  display: inline-block;
}

#rightMenu li a {
  background-color: #8e8e8e;
  padding: 5px 40px;
  border-radius: 10px 10px 0 0;
  margin-top: 68px;
  display: inline-block;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#rightMenu li:first-child a {
  background-color: #636363;
}

#bookingArea {
  background-color: rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  padding: 0 10px;
}

#bookingArea > div:first-child {
  margin-top: 10px;
}

#bookingArea > div {
  margin-bottom: 10px;
  padding: 0px;
  height: 60px;
  background-color: #999999;
}

#topMenu > li > a {
  font-size: 30px;
  padding: 5px;
  color: #333333;
  text-shadow: 1px 1px 1px white;
}

#topMenu > li > a:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
}

#hourList {
  list-style-type: none;
  margin: 20px 0px;
  padding: 0px;
}

.day {
  position: relative;
}

.day > p {
  position: absolute;
  z-index: 1;
  margin-left: -100px;
  margin-top: 7px;
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.hour {
  display: inline-block;
  margin-left: -0.05%;
  padding: 0px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.thirtyMinuteMark {
  height: 60px;
  width: 8.333%;
  background-color: #999999;
  border-right: 1px solid #eeeeee;
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 0px;
}

.booking {
  display: inline-block;
  opacity: 0.7;
  height: 100%;
  margin-left: 16.666%;
  margin-right: 0px;
  width: 16.666%
}

.red {
  background-color: red;
  border: 3px solid #880000;
}

.green {
  background-color: green;
  border: 3px solid #005500;
}

#menuHeader a {
  font-family: 'Dosis', sans-serif;
}

.clearLeft {
  clear: left;
}
