#error {
    color: red;
}

h1, h2 {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
}

h1 {
    font-size: 150%;
}
h2 {
    font-size: 100%;
}
p {
    font-family: 'Dosis', sans-serif;
    font-size: 80%;
}

#usr, #psw {
    margin: 0;
    padding: 0;
}

input[type=submit] {
    background-color: #AAAAAA;
    font-family: 'Dosis', sans-serif;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.inputbox {
    border-width: 3px;
    border-style: solid;
    border-color: #808080;
}

.parent {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0,0,0,0.12);
    /*
    background-color: gray;
    border: 20px groove rgba(0,0,0,0.25);
        */

    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
}

.child {
    color:white;
    background-color: #999999;
}

#vertical-row {
    Float:left;
    height: auto;
    max-width:1px;
    background-color: white;
    flex: 1;
}

#left {
    width: 5%;
    flex: 1.5;
    padding: 25px;
}

#right {
    width: 50%;
    flex: 3;
    padding: 25px;
}